<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-navbar-client *ngIf="CurrentUser==2"></app-navbar-client>
<app-navbar-owner *ngIf="CurrentUser==1"></app-navbar-owner>
<app-navbar *ngIf="CurrentUser==0&&indexHref!=currentHref"></app-navbar> -->
<div class="container">
<!-- <app-add-play-ground></app-add-play-ground> -->
<!-- <app-owner-clubs></app-owner-clubs> -->
<!-- <app-add-sub-play-ground></app-add-sub-play-ground> -->
<!-- <app-search></app-search> -->
<!-- <app-add-sub-playground></app-add-sub-playground> -->
</div>
<!-- <a routerLink="/register" routerLinkActive="active">Register</a>
<a routerLink="/login" routerLinkActive="active">SignIn</a> -->
<router-outlet></router-outlet>
