<!-- Start Navbar -->
<div class="mb-3">
<app-navbar-client></app-navbar-client>
</div>
<!-- End Navbar -->

<form class="card mx-auto w-75 my-5" novalidate #clientForm="ngForm">
    <div class="card-body">
    <!-- First Name 1-->
    <div class="row">
      <div class="col-6">
        <label for="inputFirstName">First Name</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
          </div>
          <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" name="firstName"
            [(ngModel)]="EditClientData.FirstName" #firstName="ngModel" required>
        </div>
        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger mt-2">
          <div *ngIf="firstName.errors.required">
            First Name is required.
          </div>
        </div>
      </div>
      <!-- -------------------------------------------------------- -->
      <!--Last Name 2-->
      <div class="col-6">
        <div class="form-group">
          <label for="inputLastName">Last Name</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" name="lastName"
              [(ngModel)]="EditClientData.LastName" #lastName="ngModel" required>
          </div>
          <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger mt-2">
            <div *ngIf="lastName.errors.required">
              Last Name is required.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- -------------------------------------------------------- -->
    <!-- Nationality Id 6-->
    <div class="form-group">
      <label for="inputNationalityId">Nationality ID</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-id-card"></i></span>
        </div>
        <input type="tel" class="form-control" id="inputNationalityId" placeholder="Nationality ID"
          pattern="(2|3)[0-9][1-9][0-1][1-9][0-3][1-9](01|02|03|04|11|12|13|14|15|16|17|18|19|21|22|23|24|25|26|27|28|29|31|32|33|34|35|88)\d\d\d\d\d"
          name="nationalityId" [(ngModel)]="EditClientData.NationalityID" #NationalityId="ngModel" required maxlength="14"
          onKeyDown="if (!(event.keyCode>=96 && event.keyCode<=105) &&(event.keyCode!=37&&event.keyCode!=39) &&(event.keyCode!=8 &&event.keyCode!=9)&& !(event.keyCode>=48 && event.keyCode<=57)) return false">
      </div>
      <div *ngIf="NationalityId.invalid && (NationalityId.dirty || NationalityId.touched)"
        class="alert alert-danger mt-2">
        <div *ngIf="NationalityId.errors.required">
          NationalityID Is Required.
        </div>
        <div *ngIf="NationalityId.errors.pattern">
          Nationality ID Is Must 14 Number And Matched to your ID Card.
        </div>
      </div>
    </div>
    <!-- -------------------------------------------------------- -->
    <!--Age 7-->
    <div class="form-group">
      <label for="inputAge">Age</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-birthday-cake"></i></span>
        </div>
        <input type="tel" class="form-control" id="inputAge" placeholder="Age" name="Age" [(ngModel)]="EditClientData.Age"
          #Age="ngModel" required minlength="2" maxlength="2"
          onKeyDown="if (!(event.keyCode>=96 && event.keyCode<=105)&&(event.keyCode!=37&&event.keyCode!=39)&& event.keyCode!=8 &&event.keyCode!=9&& !(event.keyCode>=48 && event.keyCode<=57)) return false">
      </div>
      <div *ngIf="Age.invalid && (Age.dirty || Age.touched)" class="alert alert-danger mt-2">
        <div *ngIf="Age.errors.required">
          Age is required.
        </div>
        <div *ngIf="Age.errors.minlength">
          Age between (10-99)
        </div>
        <div *ngIf="Age.errors.maxlength">
          Age between (10-99)
        </div>
      </div>
    </div>
    <!-- -------------------------------------------------------- -->
    <!-- Phone1 8 -->
    <div class="form-group">
      <label for="inputPhone1">Phone1</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-phone"></i></span>
        </div>
        <input type="tel" class="form-control" id="inputPhone1" placeholder="Phone1" #Phone1="ngModel" name="Phone1"
          [(ngModel)]="EditClientData.Phone1" required maxlength="11" pattern="^01[0-5]{1}[0-9]{8}"
          onKeyDown="if (!(event.keyCode>=96 && event.keyCode<=105) &&(event.keyCode!=37&&event.keyCode!=39) &&(event.keyCode!=8 &&event.keyCode!=9)&& !(event.keyCode>=48 && event.keyCode<=57)) return false">
      </div>
      <div *ngIf="Phone1.invalid && (Phone1.dirty || Phone1.touched)" class="alert alert-danger mt-2">
        <div *ngIf="Phone1.errors.required">
          Phone1 is required.
        </div>
        <div *ngIf="Phone1.errors.pattern">
          Phone Format (01xxxxxxxxx).
        </div>
      </div>
    </div>
    <!-- -------------------------------------------------------- -->
    <!-- Phone2 9-->
    <div class="form-group">
      <label for="inputPhone2">Phone2</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-phone"></i></span>
        </div>
        <input type="tel" class="form-control" id="inputPhone2" placeholder="Phone2 [Optional]" #Phone2="ngModel"
          name="Phone2" [(ngModel)]="EditClientData.Phone2" maxlength="11" pattern="^01[0-5]{1}[0-9]{8}"
          onKeyDown="if (!(event.keyCode>=96 && event.keyCode<=105)&&(event.keyCode!=37&&event.keyCode!=39)&&(event.keyCode!=8 &&event.keyCode!=9) && !(event.keyCode>=48 && event.keyCode<=57)) return false">
      </div>
      <div *ngIf="Phone2.invalid && (Phone2.dirty || Phone2.touched)" class="alert alert-danger mt-2">
        <div *ngIf="Phone2.errors.pattern">
          Phone Format (01xxxxxxxxx).
        </div>
      </div>
    </div>
    <!-- -------------------------------------------------------- -->
    <!-- City 10-->
    <div class="form-group">
      <label for="inputCity">City</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-city"></i></span>
        </div>
        <select #City class="custom-select" id="inputCity" required>
          <!-- <select #City="ngModel" [(ngModel)]="EditClientData.City" name="City" class="custom-select" id="inputCity" required> -->
          <option value="none" disabled>Select City...</option>
          <option *ngFor="let item of cities" [value]="item" selected>{{item}}</option>
        </select>
      </div>
      <div *ngIf="City.invalid && (City.dirty || City.touched)" class="alert alert-danger mt-2">
        <div *ngIf="City.errors.required">
          City Is Required
        </div>
      </div>
    </div>
    <!-- -------------------------------------------------------- -->
    <!-- Street 11 -->
    <div class="form-group">
      <label for="inputStreet">Street</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-road"></i></span>
        </div>
        <input type="text" class="form-control" id="inputStreet" placeholder="Street" #Street=ngModel name="Street"
          [(ngModel)]="EditClientData.Street" required>
      </div>
      <div *ngIf="Street.invalid&&(Street.dirty||Street.touched)" class="alert alert-danger mt-2">
        <div *ngIf="Street.errors.required">
          Street Is Required
        </div>
      </div>
    </div>
    <!-- -------------------------------------------------------- -->
    <!--Gender 12-->
    <div class="form-group">
      <label for="gander">Gender</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-transgender"></i></span>
        </div>
        <select #gander class="custom-select" id="gander">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
    </div>
    <!-- -------------------------------------------------------- -->
    <div class="row">
      <div class="col-12">
        <button [disabled]="!clientForm.form.valid" id="saveChanges"
          (click)="EditClient(firstName.value,lastName.value,NationalityId.value,Age.value,Phone1.value,Phone2.value,City.value,Street.value,gander.value)"
          class="btn btn-primary">Save Changes</button>
      </div>
    </div>
  </div>
  </form>
  
    <!-- Modal -->
    <button hidden data-toggle="modal" id="succBtn" data-target="#exampleModal"></button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="alert alert-success">Changes saved successfully!</div>
        <button hidden class="close" data-dismiss="modal" aria-label="Close"></button>
      </div>
    </div>